version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    labels:
      - "dependencies"
      - "python"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "monday"
